{% extends "base.html" %}
{% block title %} - Home{% endblock %}
{% block content %}
    <div class="page-header">
      <h1>{{ story.title }}</h1>
    </div>

    <div class="list-group">
    {% if stories is defined %}
        {% for story in stories %}
            <div class="list-group-item">

               <a href="{{ story.url }}" ><h4 class="list-group-item-heading">{{ "%02d" | format(loop.index) }} - {{ story.title }} </h4></a>


                <p class="list-group-item-text text-info"><small><i class="glyphicon glyphicon-thumbs-up"></i> {{ story.score }} | <i class="glyphicon glyphicon-user"></i> {{ story.by  }} <script>document.write(moment(moment({{ story.time }}).unix()).fromNow());</script> |
                    <a href=""><i class="glyphicon glyphicon-comment"></i> {{ story.kids | count }}</a></small></p>
            </div>

        {% endfor %}
    {% else %}
    <ul class="list-group">
        <li class="list-group-item">No stories at this momment.</li>
    </ul>
    {% endif %}
    </div>
{% endblock %}