amqp==1.4.9
anyjson==0.3.3
Babel==2.3.4
backports.ssl-match-hostname==3.5.0.1
beautifulsoup4==4.5.1
billiard==3.3.0.23
celery==3.1.24
certifi==2016.9.26
click==6.6
Flask==0.11.1
Flask-PyMongo==0.4.1
flower==0.9.1
funcsigs==1.0.2
futures==3.0.5
httpretty==0.8.14
itsdangerous==0.24
Jinja2==2.8
kombu==3.0.36
MarkupSafe==0.23
mock==2.0.0
pbr==1.10.0
py==1.4.31
pymongo==3.3.0
pytest==3.0.2
pytest-env==0.6.0
python-firebase==1.2
pytz==2016.7
redis==2.10.5
requests==2.11.1
retrying==1.3.3
six==1.10.0
tornado==4.2
unbabel-py==0.44
Werkzeug==0.11.11
