Flask==0.11
Jinja2==2.8
MarkupSafe==0.23
Werkzeug==0.11.11
amqp==1.4.9
anyjson==0.3.3
beautifulsoup4==4.5.1
billiard==3.3.0.23
flower==0.8.4
celery==3.1.23
click==6.6
itsdangerous==0.24
kombu==3.0.35
py==1.4.31
pymongo==3.3.0
pytest==3.0.2
python-firebase==1.2
pytz==2016.6.1
redis==2.10.5
requests==2.11.1
unbabel-py==0.44
wsgiref==0.1.2
